<footer>
    <div class="grid">
        <div class="unit w-1-3 center-on-mobiles align-left">
            <nav class="bottomnav">
                <table>
                    <tr>
                        <th align="left"><h3>Contact</h3>&nbsp;&nbsp;</th>
                        <th><a href="mailto:sijianlou@bupt.edu.cn" class="contact"><img alt＝"@bupt.edu.cn" src="/assets/images/icons/email.ico" title="@bupt.edu.cn" align="center"/></a></th>
                        <th><a href="https://www.researchgate.net/profile/Jianlou_Si" class="contact"><img alt="ResearchGate" src="/assets/images/icons/researchgate.ico" title="ResearchGate" align="center"/></a></th>
                        <th><a href="https://github.com/Jianlou" class="contact"><img alt="GitHub" src="/assets/images/icons/github.ico" title="GitHub" align="center"/></a></th>
                        <th><a href="https://weibo.com/u/2045273475" class="contact"><img alt="WeiBo" src="/assets/images/icons/weibo.ico" title="WeiBo" align="center"/></a></th>
                        <th><a href="mailto:sijianlou@126.com" class="contact"><img alt＝"@126.com" src="/assets/images/icons/126.ico" title="@126.com" align="center"/></a></th>
                        <th><a href="mailto:sijianlou@gmail.com" class="contact"><img alt＝"@gmail.com" src="/assets/images/icons/gmail.ico" title="@gmail.com" align="center"/></a></th>
                        <th><a href="/assets/images/others/wechat_id.png" class="contact"><img alt＝"WeChat" src="/assets/images/icons/wechat.ico" title="WeChat" align="center"/></a></th>
                    </tr>
                </table>
            </nav>
        </div>
        <div class="unit w-2-3 center-on-mobiles align-left">
            <div class="grid">
                <div class="unit w-1-2 center-on-mobiles align-left">
                    <script type="text/javascript" id="clustrmaps" src="//cdn.clustrmaps.com/map_v2.js?u=yW5f&d=ccfkCUbuWdaJCsZ15kOXG69K-8YVMYW4MIOUHfU-dYQ"></script>
                </div>
                <div class="unit w-1-2 center-on-mobiles align-left">
                    Last Update: Aug. 25, 2016
                    <br/>
                    Powered by <a href="https://github.com/Jianlou" rel="nofollow" target="_blank">Jianlou Si</a>
                </div>
            </div>
        </div>

        </div>
</footer>
